#main-page {
    @media (max-width: 767px) {
        overflow: hidden;
    }
    .info-msg {
        width: 100%;
        background: #ff9966;
        box-sizing: border-box;
        padding: 8px;
        text-align: center;
        color: #fff;
    }
    @import "./intro.scss";
    @import "./slider.scss";
    @import "./about.scss";
}
